@model List<User>
@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="sec-1">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4 content">
                <div class="col">
                    <h1>Awesome App <br> App Landing Template</h1>
                    <p>
                        An awesome landing page template to showcase your app features, screenshots, pricing, user
                        testimonials and download links.
                    </p>
                    <ul>
                        <li><i class="las la-check-circle"></i> Amazing Design to Present Your App</li>
                        <li>
                            <i class="las la-check-circle"></i> Fully Responsive and Powered by Bootstrap & PaperKit
                        </li>
                        <li><i class="las la-check-circle"></i> Very Easy to Customize and Setup</li>
                    </ul>
                    <button type="button" class="btn btn-outline-light">START EXPLORING</button>
                </div>
                <div class="col">
                    <img src="~/assets/image/phone1.jpg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="mt-5 pt-5 pb-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="h-100 d-flex flex-row align-items-center">
                        <div class="icon">
                            <i class="las la-cog"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Showcase Your App</h5>
                            <p class="card-text">
                                Showcase your app in style with this professional looking template.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>
    <section class="sec-3 mt-5 pt-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <img src="~/assets/image/phone1.jpg" alt="">
                </div>
                <div class="col">
                    <h2>What is Awesome App?</h2>
                    <p>
                        Add a brief story about your app here, what purpose your app solves and why you think your
                        user would want to have it on their device.
                    </p>
                    <p>
                        Re-establish the main use case of your app by listing them below. Make sure to place a
                        relavent screenshot on the left.
                    </p>
                    <ul>
                        <li><i class="las la-check-circle"></i> Amazing Design to Present Your App</li>
                        <li>
                            <i class="las la-check-circle"></i> Fully Responsive and Powered by Bootstrap & PaperKit
                        </li>
                        <li><i class="las la-check-circle"></i> Very Easy to Customize and Setup</li>
                    </ul>
                    <button type="button" class="btn btn-outline-light">START EXPLORING</button>
                </div>

            </div>
        </div>
    </section>

    <section class="sec-4 mt-5 pt-5 pb-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="pb-4">Take a look at our screenshots</h2>
                <p class="pb-5">
                    Add your app screenshots below. Make sure to make them lively by putting them inside
                    real device mockups <br>
                    Replace this text to describe the screenshots of your app.
                </p>
            </div>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/assets/image/slider1.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/image/slider2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/assets/image/slider3.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <section class="sec-5 mt-5 pt-5 pb-5 mb-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="pb-4">We've got the perfect package for you</h2>
                <p class="pb-5">
                    A section to display your pricing structure. Make sure to highlight your most
                    popular plan like shown below. <br>
                    Replace this text to describe your pricing plan.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
                <div class="col">
                    <div class="card h-100 text-center">
                        <h6 class="pt-3">
                            Basic</h>
                            <div class="card-body p-0">
                                <h3 class="card-title pt-4 pb-4">$12.0/m</h3>
                                <hr>
                                <p>One User</p>
                                <hr>
                                <p>Multiple Access</p>
                                <hr>
                                <p>SMS Support</p>
                                <hr>
                                <p>24/7 Online Support</p>
                                <hr>
                                <p class="text-muted">Start Free Trial</p>
                                <button type="button" class="btn btn-outline-dark">Buy Now</button>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <h6 class="pt-3">
                            Standart</h>
                            <div class="card-body p-0">
                                <h3 class="card-title standart pt-4 pb-4">$24.0/m</h3>
                                <hr>
                                <p>Five User</p>
                                <hr>
                                <p>Multiple Access</p>
                                <hr>
                                <p>SMS Support</p>
                                <hr>
                                <p>24/7 Online Support</p>
                                <hr>
                                <p class="text-muted">Start Free Trial</p>
                                <button type="button" class="btn btn-outline-dark standart">Buy Now</button>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <h6 class="pt-3">
                            Premium</h>
                            <div class="card-body p-0">
                                <h3 class="card-title pt-4 pb-4">$250.0/m</h3>
                                <hr>
                                <p>Twenty User</p>
                                <hr>
                                <p>Multiple Access</p>
                                <hr>
                                <p>SMS Support</p>
                                <hr>
                                <p>24/7 Online Support</p>
                                <hr>
                                <p class="text-muted">Start Free Trial</p>
                                <button type="button" class="btn btn-outline-dark">Buy Now</button>
                            </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 text-center">
                        <h6 class="pt-3">
                            Enterprise</h>
                            <div class="card-body p-0">
                                <h3 class="card-title pt-4 pb-4">$999.0/m</h3>
                                <hr>
                                <p>Unlimited User</p>
                                <hr>
                                <p>Multiple Access</p>
                                <hr>
                                <p>SMS Support</p>
                                <hr>
                                <p>24/7 Online Support</p>
                                <hr>
                                <p class="text-muted">Start Free Trial</p>
                                <button type="button" class="btn btn-outline-dark">Buy Now</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>

    <section class="sec-6 mt-5 pt-5 pb-5 mb-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="pb-4">What our customers are saying</h2>
                <p class="pb-5">
                    Real user testimonials are great way to attract new customers and increase their
                    trust into using your app. <br>
                    Replace the testimonials below with the ones for your own app.
                </p>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (var item in Model)
                {
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <p class="card-text">
                                   @item.Comment
                                </p>
                            </div>
                            <div class="user d-flex justify-content-around align-items-center">
                                <img src="~/assets/image/@item.Image" class="card-img-top w-25 rounded-circle" alt="...">
                                <div class="user-name">
                                    <h6>@item.FullName</h6>
                                    <p>@item.Profession</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="sec-7 mt-5 pt-5 pb-5">
        <div class="container">
            <div class="title text-center">
                <h2 class="text-white mb-5">Download Awesome App Now</h2>
            </div>
            <div class="row row-cols-1 row-cols-md-3 g-4 pb-5">
                <div class="col">
                    <div class="card h-100 d-flex flex-row justify-content-around align-items-center">
                        <i class="lab la-apple"></i>
                        <div class="card-body">
                            <h5 class="card-title">Download</h5>
                            <p class="card-text">Download from App Store</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 d-flex flex-row justify-content-around align-items-center">
                        <i class="lab la-android"></i>
                        <div class="card-body">
                            <h5 class="card-title">Download</h5>
                            <p class="card-text">Download from Play Store</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100 d-flex flex-row justify-content-around align-items-center">
                        <i class="lab la-windows"></i>
                        <div class="card-body">
                            <h5 class="card-title">Download</h5>
                            <p class="card-text">Download from Microsoft Store</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>
